<GridLayout columns="*, *, *, *" visibility="{{ hiddens() ? 'visible' : 'collapsed' }}"
    class="bottom-navigation">
    <GridLayout col="0" rows="auto, *" class="bottom-navigation-item" [class.selected]="isComponentSelected('/home')"
        (tap)="onNavItemTap('/home')">
        <Label row="0" text="&#xf54e;" class="fas"></Label>
        <Label row="1" text="Toko" class="label"></Label>
    </GridLayout>
    <GridLayout col="1" rows="auto, *" class="bottom-navigation-item"
        [class.selected]="isComponentSelected('/manajemen')" (tap)="onNavItemTap('/manajemen')">
        <Label row="0" text="&#xf1c0;" class="fas"></Label>
        <Label row="1" text="Manajemen" class="label"></Label>
    </GridLayout>
    <GridLayout col="2" rows="auto, *" class="bottom-navigation-item"
        [class.selected]="isComponentSelected('/laporan')" (tap)="onNavItemTap('/laporan')">
        <Label row="0" text="&#xf15c;" class="fas"></Label>
        <Label row="1" text="Laporan" class="label"></Label>
    </GridLayout>
    <GridLayout col="3" rows="auto, *" class="bottom-navigation-item" [class.selected]="isComponentSelected('/akun')"
        (tap)="onNavItemTap('/akun')">
        <Label row="0" text="&#xf007;" class="fas"></Label>
        <Label row="1" text="Akun" class="label"></Label>
    </GridLayout>
</GridLayout>
