// Import common styles
@import "app-common";

.opasity{
    opacity: 0;
}

.bg{
    background-color: #0170c2;
}

.bg-page{
    background-color: whitesmoke;
}

.bg-content{
    background-color: white;
    border-radius: 10;
}

//TEXT

.t-index{
    color: #0170c2;
}

.t-white{
    color: white;
}

.t-color{
    color: #FF6321;
    vertical-align: middle;
}

.t-success{
    color: #91DC5A;
}

.t-disc{
    text-decoration: line-through;
}

.middle{
    vertical-align: middle;
}

.t-link{
    color: #FF6321;
    text-decoration: underline;
}


.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.bottom{
    vertical-align: bottom;
}

.bold{
    font-weight: bold;
}

.top{
    vertical-align: top;
}


//FORM
.input{
    border-radius: 10;
    border-width: 0.5;
    border-color: #FFFFFF;
    background-color: white;
}

.tab{
    border-radius: 10 10 0 0;
    border-width: 1 1 0 1;
    border-color: #0170c2;
}

.tab-off{
    border-width: 0 0 1 0;
    border-color: #0170c2;
}

.checkbox{
    border-width: 0.5;
    border-color: black;
    color: black;
    width: 40;
    height: 40;
    vertical-align: middle;
    text-align: center;
}

// Place any CSS rules you want to apply only on Android here

.border-top{
    border-width: 2 0 0 0;
    border-color: #0170c2;
}

.btn-icon{
    border-radius: 100%;
    background-color: #0170c2;
    color: white;
}

.labels{
    border-width: 1;
    border-color: #65a5da;
    color: #0170c2;
    background-color: #FFFFFF;
}

.btn {
    background-color: #0170c2;
    color: white;
    font-weight: bold;
    border-radius: 10;
    height: 40;
    padding: 0;
    margin: 0;
}

.btn:active {
    background-color: white;
    color: #0170c2;
    font-weight: bold;
}

.btn-success {
    background-color: #91DC5A;
    color: whitesmoke;
    font-weight: bold;
}

.btn-success:active {
    background-color: #91DC5A;
    color: lightseagreen;
    font-weight: bold;
}

.btn-warning-soft {
    background-color: white;
    color: #FF6321;
    border-width: 1;
    border-color: #FF6321;
    font-weight: bold;
    border-radius: 10;
}

.btn-warning-soft:active {
    background-color: #FF6321;
    color: white;
    border-width: 1;
    border-color: white;
    font-weight: bold;
    border-radius: 10;
}

.btn-warning {
    background-color: #FF6321;
    color: white;
    font-weight: bold;
    border-radius: 10;
}

.btn-warning:active {
    background-color:white;
    color: #FF6321;
    font-weight: bold;
    border-radius: 10;
    border-width: 1;
    border-color: #FF6321;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dialogOpen .content {
    opacity: 0;
}
.dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.dialog-wrapper {
    visibility: collapse;
    opacity: 0;
}

.menu-icon {
    width: 70;
    height: 70;
    vertical-align: top;
    border-radius: 50%;
    font-size: 36;
    color: #0170c2;
    background-color: #FFFFFF;
    margin-bottom: 5;
  }